*{
    font-size: medium;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    text-align: center;
    font-size: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea3654;
}

.container {
    display: block;
    padding: 40px;
    text-align: center;
    border: #ea3654 dashed 5px solid;
    border-radius: 10px;
}
.container h1 {
    color: blue;
        font-size:60px;
}

.container p {
    color: blue;
        font-size: 30px;
}

.form {
    display: block;
    margin:auto;
    background-color: #f4f4f4;
    border:black 2px solid;
    font-size: 30px;
}

footer {
    background-color: rgb(11, 117, 131);
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
    color:#f4f4f4;
    font-size: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #555;
}

.photo-container {
    margin-top: 30px;
    text-align: center;
}

.photo-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #333;
}
